.mainCarousel .slick-track
{
  margin: unset;
}
.mainCarousel .slick-dots
{
  margin-top: 23px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 10px;
}
.mainCarousel .slick-dots li
{
  display: inline-flex;
  vertical-align: top;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center
}
.mainCarousel .slick-dots li:not(:last-child)
{
  margin-right: 5px;
}

.mainCarousel .slick-active .page
{
  width: 10px;
  height: 10px;
  background: #7200FF;
}

@media screen and (max-width: 540px)
{
  .mainCarousel .slick-dots
  {
    margin-top: 8px;
  }
}
