@import 'styles/config.sass'

.root
  background: #fff
  border-radius: $border-radius--main
  text-align: center
  box-shadow: $box-shadow

  &_default
    padding: 45px 10px 65px

    .description
      font-size: 18px
      line-height: 26px

    .clear
      margin-top: 33px

    .catbox
      margin-top: 46px    

  &_sm
    padding: 23px 10px 50px

    .description
      font-size: 16px
      line-height: 20px

    .clear
      margin-top: 20px

    .catbox
      margin-top: 44px 

.description
  font-family: $font--istok_web
  color: $color--text-dark-gray

.catbox
  max-width: 100%